<div ng-controller="FooterController" >
<div class=" container-fluid">
        <div class="row">
            <div class="footerTop">
                <div class="container container-fluid">
                    <div class="row">
                        <div class="col-xs-12 mar10 footer-bottom">

                                <ul class="nav navbar-nav footerLinks">
                                    <li><a href="{{footer.footer_link.0.url}}">{{footer.footer_link.0.text}}</a></li>
                                    <li><a href="{{footer.footer_link.1.url}}">{{footer.footer_link.1.text}}</a></li>
                                    <li><a href="{{footer.footer_link.2.url}}">{{footer.footer_link.2.text}}</a></li>
                                    <li><a href="{{footer.footer_link.3.url}}">{{footer.footer_link.3.text}}</a></li>
                                    <li><a href="{{footer.footer_link.4.url}}">{{footer.footer_link.4.text}}</a></li>
                                    <li><a href="{{footer.footer_link.5.url}}">{{footer.footer_link.5.text}}</a></li>
                                    <li><a href="{{footer.footer_link.6.url}}">{{footer.footer_link.6.text}}</a></li>
                                    <li><a href="{{footer.footer_link.7.url}}">{{footer.footer_link.7.text}}</a></li>
                                </ul>

                        <div class="socialsiteIcons ">
                                <ul class="nav navbar-nav ">
                                    <li><a href="{{footer.social_media.0.url}}" title="{{footer.social_media.0.alt_text}}"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="{{footer.social_media.1.url}}" title="{{footer.social_media.1.alt_text}}"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="{{footer.social_media.2.url}}" title="{{footer.social_media.2.alt_text}}"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="{{footer.social_media.3.url}}" title="{{footer.social_media.3.alt_text}}" ><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="{{footer.social_media.4.url}}" title="{{footer.social_media.4.alt_text}}"><i class="fa fa-pinterest"></i></a></li>
                                </ul></div>
                        </div></div>

       <div class="footer-links">
            <div class="col-xs-12 mar10 marFooterLeft">
                <div class="col-xs-12 col-sm-3 col-md-4 pad-12" >
                    <h5><a href="{{footer.sitemap.0.url}}"><strong>{{footer.sitemap.0.text}}</strong></a></h5>
                    <ul class="nav navbar">
                        <li><a href="{{footer.sitemap.0.sublink.0.url}}">{{footer.sitemap.0.sublink.0.text}}</a></li>
                        <li><a href="{{footer.sitemap.0.sublink.1.url}}">{{footer.sitemap.0.sublink.1.text}}</a></li>
                        <li><a href="{{footer.sitemap.0.sublink.2.url}}">{{footer.sitemap.0.sublink.2.text}}</a></li>
                    </ul>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-5">
                    <h5><a href="{{footer.sitemap.1.url}}"><strong>{{footer.sitemap.1.text}}</strong></a></h5>
                    <ul class="nav navbar">
                        <li><a href="{{footer.sitemap.1.sublink.0.url}}">{{footer.sitemap.1.sublink.0.text}}</a></li>
                        <li><a href="{{footer.sitemap.1.sublink.1.url}}">{{footer.sitemap.1.sublink.1.text}}</a></li>
                        <li><a href="{{footer.sitemap.1.sublink.2.url}}">{{footer.sitemap.1.sublink.2.text}}</a></li>
                        <li><a href="{{footer.sitemap.1.sublink.3.url}}">{{footer.sitemap.1.sublink.3.text}}</a></li>
                        <li><a href="{{footer.sitemap.1.sublink.4.url}}">{{footer.sitemap.1.sublink.4.text}}</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h5><a href="{{footer.sitemap.2.url}}"><strong>{{footer.sitemap.2.text}}</strong></a></h5>
                    <ul class="nav navbar">
                        <li><a href="{{footer.sitemap.2.sublink.0.url}}">{{footer.sitemap.2.sublink.0.text}}</a></li>
                        <li><a href="{{footer.sitemap.2.sublink.1.url}}">{{footer.sitemap.2.sublink.1.text}}</a></li>
                        <li><a href="{{footer.sitemap.2.sublink.2.url}}">{{footer.sitemap.2.sublink.2.text}}</a></li>
                        <li><a href="{{footer.sitemap.2.sublink.3.url}}">{{footer.sitemap.2.sublink.3.text}}</a></li>
                       
                    </ul>
                    

                </div>
            </div>
        </div>

        </div></div>
        <div class="footerWrap">
            <div class="container container-fluid">
            <p class="pull-right"><span>{{footer.copyright}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="{{footer.adchoices.url}}" title="{{footer.adchoices.alt_text}}">{{footer.adchoices.text}} <img src="images/nav-footer-adchoice.png" alt="{{footer.adchoices.alt_text}}" /></a></span></p>
        </div></div>
        </div>
    </div>
</div>